<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SamurAI 3x3 2016 Rule Summary</title>
  </head>
  <body>
    <h1>SamurAI 3x3 3016 Game Rule Summary (2/3)</h1>
    <big><big><ul>
      <li>In one turn, one of the samurai makes a sequence of actions:
	<ul>
	  <li><b>Moving</b> to one of four adjacent cells ($2),</li>
	  <li><b>Occupying</b> cells nearby in one direction ($4), or</li>
	  <li><b>Hiding</b> or <b>disclosing</b> oneself ($1).</li>
	</ul>
	within the <b>budget of $7.</b>
      </li>
      <li><b>Cells occupied</b> depend on the weapon.<br>
	<div style="padding: 10px">
	  <image src="../images/r0.png" /><image src="../images/b0.png" />
	  <image width=50></image>
	  <image src="../images/r1.png" /><image src="../images/b1.png" />
	  <image width=50></image>
	  <image src="../images/r2.png" /><image src="../images/b2.png" /><br>
	  <image src="spear.png" width=120 />
	  <image width=50></image>
	  <image src="swords.png" width=120 />
	  <image width=50></image>
	  <image src="battleax.png" width=120 />
	</div>
      </li>
    </ul>
    </big></big>
    <script>
      window.addEventListener('click',
      function (evt) { window.location.href = "summary3.html" });
    </script>
  </body>
</html>
