<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SamurAI 3x3 2016 Rule Summary</title>
  </head>
  <body>
    <h1>SamurAI 3x3 3016 Game Rule Summary (1/3)</h1>
    <big><big><ul>
      <li>Game played between two armies, each with three samurai,<br>
	competing for <b>larger territory</b> on a field of 15&times;15 cells.<br>
	<div style="padding: 10px">
	  <image src="midGame.jpg" width="700"/>
	</div>
      </li>
      <li>Three samurai of one side are with <b>different weapons.</b><br>
	<div style="margin-left:20px">
	  <image src="../logos/samurai0.png" width="35" />
	  <image src="../images/r0.png" />
	  <image src="../logos/samurai1.png" width="35" />
	  <image src="../images/r1.png" />
	  <image src="../logos/samurai2.png" width="35" />
	  <image src="../images/r2.png" />
	  <image width=30px></image>
	  <image src="../logos/samurai3.png" width="35" />
	  <image src="../images/b0.png" />
	  <image src="../logos/samurai4.png" width="35" />
	  <image src="../images/b1.png" />
	  <image src="../logos/samurai5.png" width="35" />
	  <image src="../images/b2.png" />
	</div>
      </li>
    </ul></big></big>
    <script>
      window.addEventListener('click',
      function (evt) { window.location.href = "summary2.html" });
    </script>
  </body>
</html>
