<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SamurAI Coding 2016-2017 Final Results</title>
  </head>
  <body>
    <font size=6>
      <table align="center" cell-padding="30"  style="text-align:left">
	<caption>SamurAI Coding 2016-2017</caption>
	<caption>Final Results</caption>
	<tr><th>Winner:&nbsp;&nbsp;</th>
	  <th><big>ys</big></th></tr>
	<tr><th>2nd:</th><th>Serval-chan (サーバルちゃん)</th></tr>
	<tr><th>3rd:</th><th>Chinojo (ちのじょ)</th></tr>
	<tr><th>4th:</th><th>Sumoru</th></tr>
	<tr><th>5th:</th><th>Suikkee</th></tr>
	<tr><th>6th:</th><th>kasuka</th></tr>
	<tr><th>7th</th><th>remin</th></tr>
	<tr><th>8th</th><th>Gachapiso (ガチャピソ)</th></tr>
      </table>
      <p>Note: Ranks 5th through 8th are decided based on their ranks
	in the prelimniary round.</p>
    </font>
    <audio id="bmr" autoplay="true" src="sounds/braveManReturns.mp3" />
    <script>
      document.getElementById("bmr").volume = 0.2;
    </script>
  </body>
</html>
